/* common shared styles  */
body {
  font-family: Work Sans;
  margin: 0;
  padding: 0;
}
.secondary-button {
  border-radius: 5px;
  background: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* header section  */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(./images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
.banner-text {
  width: 300px;
  margin-right: 150px;
}
.banner-header {
  color: #151414;
  font-size: 1000px;
  font-weight: 700;
}
.banner-description {
  color: #444343;
  font-weight: 400;
  line-height: 26px;
}

.banner-button {
  margin-right: 150px;
}
.primary-button {
  border-radius: 5px;
  background: #f15b22;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  border: none;
  cursor: pointer;
}
/* about section  */
.about {
    height: 100vh;
  }
  .about-container {
    height: 100vh;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
  }
  .about-text {
    width: 450px;
  }
  .profile {
    width: 450px;
  }
  .section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
  }
  .about-text > li {
    list-style: none;
    margin-bottom: 5px;
  }
  
  /* plan section  */
  
  .plan-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
  }
  .plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  .plan-img {
    width: 60px;
  }
  /* background imh section  */
  .background-img {
    width: 1140px;
    height: 300px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 130px;
    display: flex;
    background-image: linear-gradient(
        90deg,
        #f15b22 0%,
        rgba(241, 91, 34, 0) 100%
      ),
      url(./images/watch.png);
  }
  .background-info {
    margin: 30px 65px;
  }
  .background-heading {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
  }
  
/* footer section  */
.footer {
  background-color: #151414;
  color: #f8f8f8;
  height: 80vh;
}
.column-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;

  height: 80vh;
}
.column-text {
    width: 40%;
}
.column > input {
  background: transparent;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
}
